:root {
  --branding-color: rgb(230, 214, 214);
  --secondary-color: rgb(107, 39, 39);
  --default-font: "roboto";
  --accent-font: "bebas neue";
}

body {
  font-family: var(--default-font);
}
.hero {
  background-color: var(--branding-color);
  color: white;
  text-align: center;
  padding: 120px;
}
.header {
  text-align: center;
  padding: 120px;
}
.header p {
  font-size: 22px;
}
h1 {
  font-size: 100px;
  font-family: var(--accent-font);
}
h2 {
  font-size: 30px;
}
h3 {
  font-family: var(--accent-font);
  font-size: 40px;
}
.navbar {
  font-family: var(--accent-font);
  font-size: 22px;
}
.intro {
  font-size: 60px;
  font-weight: 100;
}
.btn-branding {
  background: var(--secondary-color);
  color: white;
  font-size: 30px;
  border: 3px;
  padding: 12px 20px;
}
.btn-branding-outline {
  background-color: white;
  color: var(--secondary-color);
  font-size: 16px;
  border: 1px solid var(--secondary-color);
  padding: 10px 16px;
}
.project-description {
  padding: 120px 60px;
}
.about-description {
  font-size: 20px;
}
footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}
footer .email-link:hover {
  color: var(--secondary-color);
}
footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background: var(--secondary-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: rgb(167, 119, 119);
}

@media (max-width: 900px) {
  h1 {
    font-size: 50px;
    padding: 0px;
    text-align: center;
  }
  .intro {
    font-size: 20px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
}
